.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
}

.login-box {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    width: 25vw;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
}

.login-toggle {
    display: flex;
    height: 3vmax;
    justify-content: space-evenly;
}

.login-toggle>p {
    color: black;
    font: 300 1vmax "Poppins";
    transition: all .3s;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.login-toggle>p:hover {
    color: #00a676;
}

.login-box>div>button {
    background-color: #00a676;
    height: 3px;
    width: 50%;
    transition: all .3s;
    border: none;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 60%;
    padding: 2vmax;
    transition: all .3s;
}

.signup-form {
    transform: translateY(-100%) translateX(100%);
}

.login-form>div,
.signup-form>div {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

.login-form>div>input,
.signup-form>div>input {
    padding: 1vmax 3vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font: 300 .9vmax "Poppins";
    outline: none;
}

.login-form>div>.login-icon,
.signup-form>div>.login-icon {
    position: absolute;
    transform: translateX(1vmax);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1vmax;
}

.login-form>div>.updatepassword-icon2,
.signup-form>div>.updatepassword-icon2{
    position: absolute;
    /* transform: translateX(19vmax); */
    right: 1vmax;
    color: rgba(0, 0, 0, 0.6);
    font-size: .8vmax;
}

.login-form>a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    align-self: flex-end;
    transition: all .3s;
    font: 500 .8vmax "Poppins"
}


.login-form>a:hover {
    color: black;
}

.login-btn,
.signup-btn {
    background-color: #00a676;
    color: rgba(255, 255, 255, 0.8);
    font: 300 .9vmax "Poppins";
    width: 100%;
    padding: .8vmax;
    cursor: pointer;
    transition: all .3s;
    border: none;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #00a677cd;
}

#signup-image>img {
    width: 1.1vmax;
    border-radius: 50%;
}

#signup-image>input::file-selector-button {
    display: none;
}

.shiftToLeft {
    transform: translateX(-100%);
}

.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeturalForm {
    transform: translateY(-100%);
}

.shiftToRight {
    transform: translateX(100%);
}

@media screen and (max-width:600px) {
    .login-box {
        box-shadow: none;
        width: 90%;
        height: 70vh;
    }

    .login-toggle>p {
        font: 300 1.5vmax "Poppins";
    }

    .login-form,
    .signup-form {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Poppins";
    }

    .login-form>div>input,
    .signup-form>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Poppins";
    }

    .login-icon {
        font-size: 2vmax;
    }

    #signup-image>img {
        width: 2vmax;
    }

    .login-form>a {
        font: 300 1.5vmax "Poppins"
    }

    .login-btn,
    .signup-btn {
        padding: 2.5vmax 5vmax;
        font: 300 1.5vmax "Poppins"
    }
}