.updatepassword-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
}

.updatepassword-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 25vw;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
}

.updatepassword-box > h3 {
    text-align: center;
    margin-top: 2vmax;
    font: 600 1.2vmax "Poppins";
}

.updatepassword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 60%;
    padding: 2vmax;
    transition: all .3s;
}


.updatepassword-form>div {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

.updatepassword-form>div>input{
    padding: 1vmax 3vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font: 300 .9vmax "Poppins";
    outline: none;
}

.updatepassword-form>div>.updatepassword-icon{
    position: absolute;
    transform: translateX(1vmax);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1vmax;
}

.updatepassword-form>div>.updatepassword-icon2 {
    position: absolute;
    /* transform: translateX(19vmax); */
    right: 1vmax;
    color: rgba(0, 0, 0, 0.6);
    font-size: .8vmax;
}

.updatepassword-form>a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    align-self: flex-end;
    transition: all .3s;
    font: 500 .8vmax "Poppins"
}


.updatepassword-form>a:hover {
    color: black;
}

.updatepassword-btn {
    background-color: #00a676;
    color: rgba(255, 255, 255, 0.8);
    font: 300 .9vmax "Poppins";
    width: 100%;
    padding: .8vmax;
    cursor: pointer;
    transition: all .3s;
    border: none;
}

.updatepassword-btn:hover,
.updatepassword-btn:hover {
    background-color: #00a677cd;
}

#updatepassword-image>img {
    width: 1.1vmax;
    border-radius: 50%;
}

#updatepassword-image>input::file-selector-button {
    display: none;
}

@media screen and (max-width:600px) {
    .updatepassword-box {
        box-shadow: none;
        width: 90%;
        height: 70vh;
    }

    .updatepassword-form{
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Poppins";
    }

    .updatepassword-form>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Poppins";
    }

    .updatepassword-icon {
        font-size: 2vmax;
    }

    .updatepassword-form>div>.updatepassword-icon2 {
        font-size: 1vmax;
    }

    #updatepassword-image>img {
        width: 2vmax;
    }

    .updatepassword-form>a {
        font: 300 1.5vmax "Poppins"
    }

    .updatepassword-btn{
        padding: 2.5vmax 5vmax;
        font: 300 1.5vmax "Poppins"
    }
}