.cartItemCard {
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: flex-start;
    box-sizing: border-box;
}

.cartItemCard>img {
    width: 5vmax;
}

.cartItemCard>div {
    display: flex;
    margin: .3vmax 1vmax "Poppins";
    flex-direction: column;
}

.cartItemCard>div>a {
    font: 300 .9vmax "Poppins";
    text-decoration: none;
    color: black;
}

.cartItemCard>div>span {
    font: 100 .8vmax "Poppins";
}

.cartItemCard>div>p {
    color: tomato;
    font: 100 .8vmax "Poppins";
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cartItemCard {
        height: 20vmax;
        display: flex;
        align-items: center;
    }

    .cartItemCard>img {
        width: 7vmax;
    }

    .cartItemCard>div {
        margin: 0 1vmax;
    }

    .cartItemCard>div>a {
        font: 300 1.5vmax "Poppins";
    }

    .cartItemCard>div>span {
        font: 300 1.4vmax "Poppins";
    }

    .cartItemCard>div>p,
    .cartSubTotal {
        font: 100 1.5vmax "Poppins";    
    }

}